* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../imagens/lista-fundo.jfif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
  display: flex; 
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

p {
  text-transform: capitalize;
  font-weight: bold;
}

.apliction {
  background-color: black;
  color: white;
  height: 500px;
  margin-top: 30px;
  width: 340px;
  padding-top: 20px;
  border-radius: 10px;
}

input, .bot{
  height: 25px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
  margin-top: 30px;
  outline: none;
}

input {
  padding-left: 10px;
  border: 1px solid black;
}

.bot {
  width: 70px;
}

.bot:hover {
  cursor: pointer;
  background-color: rgb(0, 83, 128);
  width: 70px;
  color: #fff;
}

.product {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  height: 32px;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}

.lista-produtos {
  max-height: 375px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

footer {
  padding-top: 30px;
  color: #fff;
}

#prg {
  margin: 35px;
}

#btn {
  margin: 30px;
}

#logo {
  padding: 20px;
}

img {
  height: 40px;
  margin: 10px;
}

span {
  color: black;
}

@media (max-width: 600px) {
  body {
      display: flex;
      height: 100%;
      padding-top: 30px;
      background-image: url(../imagens/planodefundo.jpg);
      background-repeat: no-repeat;
      background-size: cover; 
      overflow-y: auto;
      align-items: center;
      text-align: center;
      justify-content: center;
  }

  
.apliction {
  width: 350px;
  height: 100vh;
  margin: auto;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

  input, .bot {
      background-color: #fff;
      height: 20px;
  }

  footer {
    color: white;
    font-size: 15px;
  }

  span {
    color: yellow;
  }
} 